{% extends 'layout.html' %}
{% block body %}
{#    <style>#}
{#/* The Modal (background) */#}
{#.modal1 {#}
{#    display: none; /* Hidden by default */#}
{#    position: fixed; /* Stay in place */#}
{#    z-index: 1; /* Sit on top */#}
{#    padding-top: 100px; /* Location of the box */#}
{#    left: 0;#}
{#    top: 0;#}
{#    width: 100%; /* Full width */#}
{#    height: 100%; /* Full height */#}
{#    overflow: auto; /* Enable scroll if needed */#}
{#    background-color: rgb(0,0,0); /* Fallback color */#}
{#    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */#}
{#}#}
{##}
{#/* Modal Content */#}
{#.modal-content1 {#}
{#    background-color: #fefefe;#}
{#    margin: auto;#}
{#    padding: 20px;#}
{#    border: 1px solid #888;#}
{#    width: 80%;#}
{#}#}
{##}
{#/* The Close Button */#}
{#.close1 {#}
{#    color: #aaaaaa;#}
{#    float: right;#}
{#    font-size: 28px;#}
{#    font-weight: bold;#}
{#}#}
{##}
{#.close1:hover,#}
{#.close1:focus {#}
{#    color: #000;#}
{#    text-decoration: none;#}
{#    cursor: pointer;#}
{#}#}
{##}
{##}
{##}
{##}
{##}
{#</style>#}
{#    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:black;"><span class="glyphicon glyphicon-bell"></span></a>#}
{#                    <ul class="dropdown-menu" style="border-radius: 8px; border: 2px solid #656C98;min-width: 270px !important; min-height: 50px !important;margin-top: 15px;margin-right: -50px; background-color:#F6F7FB;" >#}
{#                        <p style="font-family:Century Gothic;padding: 10px ">Waiver Notice: Your UOB Platinum Card is expiring in 7 days time. Click here to request for waiver of membership fee.</p>#}
{##}
{##}
{#                        <button type="button" class="btn1" id="myBtn1" style="float:right; margin-right:10px; background-color:#F6F7FB; border-radius:5px; box-shadow: none; border:1px solid #656C98; font-family: 'Century Gothic' ">Request Now</button>#}
{##}
{##}
{#                    </ul>#}
{##}
{#                     <div id="myModal1" class="modal1">#}
{#                         <!-- Modal content -->#}
{#                         <div class="modal-content1" style="width:550px; height:400px; background-color: #F6F7FB">#}
{##}
{#                             <span class="close1">&times;</span>#}
{##}
{#                             <div style="margin-left:20px;">#}
{#                             <h1 style="font-family: 'Century Gothic'; color:#656C98;">Waiver:</h1>#}
{#                             <p style="font-family: 'Century Gothic'; color:#656C98">Please fill in some of your particulars</p>#}
{#                             </div>#}
{##}
{##}
{#                                 <div class="form-group" style="font-family: Calibri; margin-left:50px;">#}
{##}
{#                                     <label for="nric" >NRIC:</label>#}
{#                                     <input type="text" class="form-control" id="nric" placeholder="Enter Your NRIC" name="nric" style="width:60%;">#}
{##}
{#                                      <label for="number">Mobile Number:</label>#}
{#                                      <input type="text" class="form-control" id="number" placeholder="Enter Your Number:" name="number" style="width:60%;">#}
{##}
{##}
{##}
{##}
{#                                     <!--<select>#}
{#                                         <option value="dbs"><img src="static/images/DBS_black_visa.png" width="10" height="10" align="center"></option>#}
{#                                         <option value="ocbc"><img src="static/images/OCBC Platinum MasterCard.png">OCBC Platinum Mastercard</option>#}
{#                                         <option value="uob"><img src="static/images/UOB_platinum.png">UOB Platinum Card</option>#}
{#                                     </select>#}
{#                                     -->#}
{#                                 </div>#}
{#                                 <button type="button" class="btn" onclick="myFunction()" style="background-color: #656C98; color:white; float:right;" >Request</button>#}
{##}
{#                             </form>#}
{#                         </div>#}
{##}
{#                     </div>#}
{##}
{##}
{#                 </li>#}
{##}
{##}
{#    <script>#}
{#// Get the modal#}
{#var modal = document.getElementById('myModal1');#}
{##}
{#// Get the button that opens the modal#}
{#var btn = document.getElementById("myBtn1");#}
{##}
{#// Get the <span> element that closes the modal#}
{#var span = document.getElementsByClassName("close1")[0];#}
{##}
{#// When the user clicks the button, open the modal#}
{#btn.onclick = function() {#}
{#    modal.style.display = "block";#}
{#}#}
{##}
{#// When the user clicks on <span> (x), close the modal#}
{#span.onclick = function() {#}
{#    modal.style.display = "none";#}
{#}#}
{##}
{#function myFunction() {#}
{#    var txt;#}
{#    alert("Waiver Is Requested!")#}
{#}#}
{##}
{##}
{#</script>#}




{% endblock %}
