{% extends 'layout.html' %}
{% block body %}
<h1>Report Lost</h1>
    <style>
    h1 {
        text-align: center;
    }
/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

/* Black buttons with extra padding and without rounded borders */
.btn1 {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
    border: none;
    border-radius: 0;
}

/* On hover, the color of .btn will transition to white with black text */
.btn1:hover, .btn1:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}


.switch1 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 140px;
}

.switch1 input {display:none;}

.switch2 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 230px;
}

.switch2 input {display:none;}



.switch3 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 340px;
}

.switch3 input {display:none;}




.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
    </style>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="margin-left:1180px; margin-top:-80px;">
            Filter
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
            <li><a href="/credit">Credit</a></li>
            <li><a href="/debit">Debit</a></li>
    </ul>
</div>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
            <label class="switch1">
                <p style="margin-left: -390px; margin-top:2px;font-size: 18px;">Suspend Card?</p>
                <input type="checkbox">

                <span class="slider round" onclick="myFunction()"></span>
{#                                <script>#}
{#                    function myFunction() {#}
{#                        var txt;#}
{#                        confirm("Suspend Card?")#}
{#                    }#}
{#                </script>#}
                <script>
                        function myFunction() {
                            var otp = prompt("Please Enter OTP:");
                                if (otp == 478923) {
                                    alert("Card Succesfully Suspended")
                                }
                                else{
                                     alert("Cancelled")

                                    }
{#                            if (otp == null || otp == "") {#}
{#                                prompt("Enter OTP again: ");#}
{#                            } else if (otp != 478923){#}
{#                                otp = prompt("Please re-enter OTP:");#}
{#                            }#}
{#                            else if (otp == 478923) {#}
{#                                alert("Card Succesfully Suspended");#}
{#                            }#}
{#                            else {#}
{#                                alert('cancel')#}

                            }
                        </script>
            </label>

          <img src="static/images/dbs-black-visa-card.png" width="300" height="200" style="margin-right: 100px;">
          <p style="margin-right: 100px;"><strong>DBS Black Card</strong></p>
          <p style="margin-right: 100px;">7381-3191-7122-0333</p>
          <p style="margin-left: -100px;">Expiry Date: 12/17</p>
          <button class="btn1" style="margin-right: 100px;">Report Lost</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
                        <label class="switch2">
                <p style="margin-left: -390px; margin-top:2px;font-size: 18px;">Suspend Card?</p>
                <input type="checkbox">
                <span class="slider round" onclick="myFunction()"></span>
{#                                <script>#}
{#                    function myFunction() {#}
{#                        var txt;#}
{#                        confirm("Suspend Card?")#}
{#                    }#}
{#                </script>#}
                            <script>
                        function myFunction() {
                            var otp = prompt("Please Enter OTP:");
                                if (otp == 478923) {
                                    alert("Card Succesfully Suspended")
                                }
                                else{
                                     alert("Cancelled")

                                    }
{#                            if (otp == null || otp == "") {#}
{#                                prompt("Enter OTP again: ");#}
{#                            } else if (otp != 478923){#}
{#                                otp = prompt("Please re-enter OTP:");#}
{#                            }#}
{#                            else if (otp == 478923) {#}
{#                                alert("Card Succesfully Suspended");#}
{#                            }#}
{#                            else {#}
{#                                alert('cancel')#}

                            }
                        </script>
            </label>
          <img src="static/images/dbswomancard.png" width="300" height="200">
          <p><strong>DBS Woman's Credit Card</strong></p>
          <p>1234-5678-0989-4531</p>
          <p>Expiry Date: 12/17</p>
          <button class="btn1">Report Lost</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
                <label class="switch3">
                <p style="margin-left: -400px; margin-top:2px;font-size: 18px;">Suspend Card?</p>
                <input type="checkbox">

                <span class="slider round" onclick="myFunction()"></span>
{#                    <script>#}
{#                    function myFunction() {#}
{#                        var txt;#}
{#                        confirm("Suspend Card?")#}
{#                    }#}
{#                    </script>#}
                    <script>
                        function myFunction() {
                            var otp = prompt("Please Enter OTP:");
                                if (otp == 478923) {
                                    alert("Card Succesfully Suspended")
                                }
                                else{
                                     alert("Cancelled")

                                    }
{#                            if (otp == null || otp == "") {#}
{#                                prompt("Enter OTP again: ");#}
{#                            } else if (otp != 478923){#}
{#                                otp = prompt("Please re-enter OTP:");#}
{#                            }#}
{#                            else if (otp == 478923) {#}
{#                                alert("Card Succesfully Suspended");#}
{#                            }#}
{#                            else {#}
{#                                alert('cancel')#}

                            }
                        </script>
            </label>
          <img src="static/images/OCBC_Platinum_Credit_Card.jpg" width="300" height="200" style="margin-left: 100px;">
          <p style="margin-left: 100px;"><strong>OCBC Platinum MasterCard</strong></p>
          <p style="margin-left: 100px;">2342-3891-7652-0918</p>
          <p style="margin-right: -100px;">Expiry Date: 12/17</p>
          <button class="btn1" style="margin-left: 100px;">Report Lost</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}